:root {
  --primary-color: #0d194d;
  --primary-hover: #16266f;

  --text-color: #1f2937;
  --background-color: #f4f6fb;
  --card-background: #ffffff;

  --border-radius: 1.5rem;

  --shadow:
    0 10px 30px rgba(0, 0, 0, 0.08);

  --font-size-title:
    clamp(2rem, 6vw, 3rem);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;

  font-family: Arial;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-title);
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  height: 4rem;
  display: flex;
  align-items: center;
}

img {
  height: 2rem;
}

button {
  border: none;
  border-radius: 1rem;

  padding:
    1rem 1.25rem;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition:
    background-color 150ms ease,
    transform 150ms ease,
    opacity 150ms ease;
}

.max-content {
  padding: 0 max(calc(50% - 720px), clamp(1rem, 4vw, 4rem));
}


.header-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

#app {
  display: flex;
  justify-content: center;
  padding: 1rem clamp(1rem, 4vw, 4rem);
}

.question-card {
  width: min(100%, 40rem);
  min-height: 32rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--card-background);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  text-align: center;
}

#question-container {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

#selection-info {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #6b7280;
  font-size: 14px;
}

#answers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 1;
}

#answers-container button {
  background-color: #eef2ff;
  color: var(--primary-color);
}

#answers-container button:hover {
  background-color: #dbe4ff;
  transform: translateY(-2px);
}

#answers-container button.selected {
  background-color: var(--primary-color);
  color: white;
}

#next-btn, #cta-btn {
  width: 100%;
  margin-top: auto;
  background-color: var(--primary-color);
  color: white;
}

#next-btn:hover, #cta-btn:hover  {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

#next-btn:active {
  transform: translateY(0);
}

#next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.mobile-break {
  display: none;
}

@media (max-width: 600px) {
  .mobile-break {
    display: block;
  }
}